go 1.27.1

use (
	.
	./client
	./entitytag
	./metrics
	./server
)

replace (
	github.com/larsartmann/go-etag v0.6.0 => ./
	github.com/larsartmann/go-etag/client v0.6.0 => ./client
	github.com/larsartmann/go-etag/entitytag v0.6.0 => ./entitytag
	github.com/larsartmann/go-etag/metrics v0.6.0 => ./metrics
	github.com/larsartmann/go-etag/server v0.6.0 => ./server
)
